body {
    overflow-x: hidden
}

.wrapper {
	margin-left: 50px;
    margin-right: 50px;
}

footer p {
    margin-left: 50px;
}

div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    float: left;
    margin-left: 2px;
    color: #b3b3b3;
}