.wrapper {
	width: 768px;
	margin: 0 auto;
}

footer p {
    margin-left: 50px;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 35px;
}

.right-inner-addon i {
    position: absolute;
    right: 15px;
    top: 6px;
    padding: 10px 12px;
    pointer-events: none;
}

#search-form {
    margin-top: 10px;
}